@page "/patientlist/{d:decimal}"
@using Blazored.SessionStorage
@using Syncfusion.Blazor.Notifications

@using BlazorApp.Shared

@inject NavigationManager Navigation
@inject ISessionStorageService sessionStorage

@inject HttpClient Http

@inject PatientService PatientService

<h5>Elenco Pazienti</h5>

<div class="form-row add-item">
    <div class="form-group col-sm-12" style="border-bottom: 1px solid #ff6a00;">
        <SfButton IconCss="e-icons e-circle-add icon-navy" CssClass="e-flat btn-light" Content="Inserisci paziente" OnClick="() => AddPatient()"></SfButton>
    </div>
</div>

<div class="container-fluid form-filter" style="padding: 4px 10px 14px 10px;">
    <div class="row">
        <div class="col-sm-2">
            <SfTextBox ID="lname" @bind-Value="@LName" Placeholder="Cognome" FloatLabelType="@FloatLabelType.Auto" CssClass="sftext"></SfTextBox>
        </div>

        <div class="col-sm-2">
            <SfTextBox ID="fname" @bind-Value="@FName" Placeholder="Nome" FloatLabelType="@FloatLabelType.Auto" CssClass="sftext"></SfTextBox>
        </div>

        <div class="col-sm-1">
            <SfMaskedTextBox ID="bithdate" @bind-Value="@datanascita" Mask="00/00/0000" Placeholder="Data di nascita" FloatLabelType="@FloatLabelType.Auto" CssClass="sftext"></SfMaskedTextBox>
        </div>

        <div class="col-sm-2">
            <SfTextBox ID="telefono" @bind-Value="@Phone" Placeholder="Telefono/Mobile" FloatLabelType="@FloatLabelType.Auto" CssClass="sftext"></SfTextBox>
        </div>

        <div class="col-sm-2">
            <SfTextBox ID="diagnosi" @bind-Value="@Diagnosi" Placeholder="Diagnosi" FloatLabelType="@FloatLabelType.Auto" CssClass="sftext"></SfTextBox>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-1">
            <SfButton IconCss="e-icons e-search icon-slategrey" CssClass="e-flat btn-light" Content="Cerca" OnClick="() => Search()"></SfButton>
        </div>
        <div class="col-sm-1">
            <SfButton IconCss="e-icons e-repeat icon-green" CssClass="e-flat btn-light" Content="Ripristina" OnClick="() => Reset()"></SfButton>
        </div>
    </div>
</div>

<br />

<div id="target">
    <SfGrid ID="PatientGrid" @ref="RefPatientGrid" DataSource="@patients" AllowPaging="true" Width="auto" RowHeight="20" AllowExcelExport="true" Locale="it-IT">
        <GridPageSettings PageCount="PAGE_COUNT" PageSize="DEFAULT_PAGE_SIZE" PageSizes="PageSizes"></GridPageSettings>
        <GridColumns>
            <GridColumn HeaderText="Dett" TextAlign="TextAlign.Center" Width="60">
                <Template>
                    @{
                        var patInfo = (context as Patient);
                        var id = patInfo.IdPatient;

                        <SfButton IconCss="e-icons e-eye icon-darkcyan" CssClass="e-small e-flat btn-white" Content="" OnClick="() => GoToPatient(id)"></SfButton>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field=@nameof(Patient.LName) HeaderText="Cognome" Width="90"></GridColumn>
            <GridColumn Field=@nameof(Patient.FName) HeaderText="Nome" Width="110"></GridColumn>
            <GridColumn Field=@nameof(Patient.BirthDate) Format="d" Type="ColumnType.Date" HeaderText="Data" TextAlign="TextAlign.Center" Width="80"></GridColumn>
            <GridColumn Field=@nameof(Patient.Phone) HeaderText="Telefono" Width="100"></GridColumn>
            <GridColumn Field=@nameof(Patient.Mobile) HeaderText="Mobile" Width="100"></GridColumn>
            <GridColumn Field=@nameof(Patient.Address) HeaderText="Indirizzo" Width="140"></GridColumn>
            <GridColumn Field=@nameof(Patient.ZipCode) HeaderText="CAP" Width="80" TextAlign="TextAlign.Center"></GridColumn>
            <GridColumn Field=@nameof(Patient.City) HeaderText="Città" Width="100"></GridColumn>
            <GridColumn HeaderText="Privacy" Width="80" TextAlign="TextAlign.Center">
                <Template>
                    @{
                        var patInfo2 = (context as Patient);
                        var privacy = patInfo2.fPrivacy;

                        if (privacy)
                        {
                            <span>Si</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    }
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>

    <br />
    <br />

    <!-- Dialog for alert -->
    <SfDialog @bind-Visible="AlertVisible" Width="400px" IsModal="true" ShowCloseIcon="true">
        <DialogTemplates>
            <Header> Attenzione </Header>
            <Content> @AlertText </Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton Content="OK" IsPrimary="true" OnClick="@CloseDialog" />
        </DialogButtons>
    </SfDialog>
</div>


@code {
    [Parameter]
    public decimal d { get; set; }

    public const int PAGE_COUNT = 10;
    public const int DEFAULT_PAGE_SIZE = 10;
    public string[] PageSizes = new string[] { "Tutti", "5", "10", "20", "50" };

    #region logging
    string? LoggedUser;
    string[]? arUser;

    private string? gIdUser;
    private string? gFName;
    private string? gLName;
    private string? gSuperUser;

    private string? SessionID;

    //private string[] gRoleUser;


    private string sessionLoggedUser { get; set; }
    #endregion

    #region alert dialog
    private bool AlertVisible { get; set; } = false;

    private string AlertText { get; set; } = "";

    private void CloseDialog()
    {
        AlertVisible = false;
    }
    #endregion

    #region Notification
    SfToast ToastObj;

    private ToastModel Toast = new ToastModel { Title = "Success!", Content = "Your message has been sent successfully.", CssClass = "e-toast-success", Icon = "e-success toast-icons" };

    private async Task ShowOnClick()
    {
        await this.ToastObj.Show(Toast);
    }

    private async Task HideOnClick()
    {
        await this.ToastObj.Hide("All");
    }

    private async Task onCreate()
    {
        await this.ToastObj.Show(Toast);
    }
    #endregion

    private List<Patient>? patients;

    private SfGrid<Patient> RefPatientGrid;

    #region binding variables
    private int LYear;
    private bool fLastDate = false;
    private string switchLabel = "Off";

    public DateTime BirthDate;

    FilterSupport MyFilter = new FilterSupport { };

    public string FName = "";
    public string LName = "";
    public string Phone = "";

    public string datanascita = "";

    public string City = "";        // ignorata al momento da aggiungere dopo

    public string Address = "";     // ignorata al momento

    public string Diagnosi = "";
    #endregion

    #region funzioni di supporto
    public static int GetDaysInMonth(int year, int month)
    {
        // Verifica che il mese sia compreso tra 1 e 12
        if (month < 1 || month > 12)
        {
            throw new ArgumentOutOfRangeException(nameof(month), "Il mese deve essere compreso tra 1 e 12.");
        }

        // Anni bisestili: divisibili per 4, ma non per 100, a meno che siano divisibili per 400
        bool isLeapYear = year % 4 == 0 && (year % 100 != 0 || year % 400 == 0);

        // Numero di giorni per ogni mese
        int[] daysInMonth = { 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 };

        // Aggiungi un giorno a febbraio se è un anno bisestile
        if (isLeapYear && month == 2)
        {
            return daysInMonth[month - 1] + 1;
        }

        return daysInMonth[month - 1];
    }

    private Boolean CheckDate(string myDate)
    {
        Boolean result = false;
        string myYear, myMonth, myDay;
        int GiorniMese;

        if (myDate.Length == 8)
        {
            myYear = myDate.Substring(4, 4);
            myMonth = myDate.Substring(2, 2);
            myDay = myDate.Substring(0, 2);

            if (int.Parse(myYear) > 1900)
            {
                if ((int.Parse(myMonth) >= 1) && (int.Parse(myMonth) <= 12))
                {
                    GiorniMese = (GetDaysInMonth(int.Parse(myYear), int.Parse(myMonth)));

                    if ((int.Parse(myDay) >= 1) && (int.Parse(myDay) <= GiorniMese))
                    {
                        result = true;
                    }
                    else
                    {
                        // giorno non compreso tra 1 e numero giorni previsto per il mese esci con false
                        AlertText = "Giorno data di nascita non valido";
                        AlertVisible = true;
                    }
                }
                else
                {
                    // mese non compreso tra 1 e 12 esci con false
                    AlertText = "Mese data di nascita non valido";
                    AlertVisible = true;
                }
            }
            else
            {
                // anno inferiore al 190 esci con false
                AlertText = "Anno data di nascita non valido";
                AlertVisible = true;
            }
        }
        else
        {
            // anno inferiore al 190 esci con false
            AlertText = "Data di nascita non valida";
            AlertVisible = true;
        }

        return result;
    }
    #endregion region

    protected override async Task OnInitializedAsync()
    {
        sessionLoggedUser = await sessionStorage.GetItemAsStringAsync("sessionLoggedUser");

        if (string.IsNullOrEmpty(sessionLoggedUser))
        {
            Navigation.NavigateTo("/auth/login");
        }
        else
        {
            LoggedUser = sessionLoggedUser.Substring(1, sessionLoggedUser.Length - 2);

            arUser = LoggedUser.Split(",");

            gIdUser = arUser[0];
            gFName = arUser[1];
            gLName = arUser[2];
            gSuperUser = arUser[3];

            SessionID = arUser[4];

            // gRoleUser = arUser[n].Split(",");
        }
    }

    private void AddPatient() //async
    {
        Navigation.NavigateTo("/patientmanage/0");
    }

    private async void Search()
    {
        bool AllowSearch = false;
        double s_idUser;

        Boolean ContinueIns = true;
        string vDate = "";

        // if (MyFilter == null)
        // {
        //     MyFilter = new FilterSupport { };

        //     MyFilter.ptIDUser = Convert.ToDouble(gIdUser);
        //     MyFilter.GUID = SessionID;

        //     MyFilter.sVal2 = CodFornitore;
        //     MyFilter.sVal3 = SubAppalt;

        //     MyFilter.dVal1 = RdADateDal;

        //     MyFilter.fLastDate = fLastDate;

        //     MyFilter.ExpireDate = DateTime.Now.AddMinutes(20);

        //     try
        //     {
        //         await RdAService.AddFilterSupport(MyFilter);
        //     }
        //     catch (Exception ex)
        //     {
        //         Console.WriteLine(ex.Message);
        //     }
        // }
        // else
        // {
        //     MyFilter.sVal2 = CodFornitore;
        //     MyFilter.sVal3 = SubAppalt;

        //     MyFilter.dVal1 = RdADateDal;

        //     MyFilter.fLastDate = fLastDate;

        //     MyFilter.ExpireDate = DateTime.Now.AddMinutes(20);

        //     try
        //     {
        //         await RdAService.UpdateFilterSupport(MyFilter);
        //     }
        //     catch (Exception ex)
        //     {
        //         Console.WriteLine(ex.Message);
        //     }
        // }

        // DateTime FromDate = SetToFH(RdADateDal);

        s_idUser = Convert.ToDouble(gIdUser);

        AllowSearch = (!string.IsNullOrEmpty(LName) || !string.IsNullOrEmpty(FName) || !string.IsNullOrEmpty(datanascita) || !string.IsNullOrEmpty(Phone) || !string.IsNullOrEmpty(Diagnosi)) ? true : false;

        if (AllowSearch)
        {
            if (!string.IsNullOrEmpty(datanascita))
            {
                if (CheckDate(datanascita))
                {
                    vDate = datanascita.Substring(4, 4) + "-" + datanascita.Substring(2, 2) + "-" + datanascita.Substring(0, 2);
                }
                else
                {
                    ContinueIns = false;
                }
            }

            if (ContinueIns)
            {
                try
                {
                    string pp = FName + "|" + LName + "|" + vDate + "|" + Phone + "|" + Diagnosi;
                    Console.WriteLine($"pp: {pp}");

                    // Console.WriteLine($"pp: {pp}");

                    patients = await PatientService.PatList(pp);

                    StateHasChanged();
                }
                catch (Exception ex)
                {
                    Console.WriteLine(ex.Message);
                }
            }
        }
    }

    public async void Reset()
    {
        FName = "";
        LName = "";

        datanascita = "";

        Phone = "";

        Diagnosi = "";

        string p = "||2268-07-20||";

        // Console.WriteLine($"p: {p}");

        patients = await PatientService.PatList(p);

        StateHasChanged();
    }

    public void GoToPatient(decimal id)
    {
        Navigation.NavigateTo("/patientmanage/" + id.ToString());
    }
}
