@page "/patientmanage/{id:decimal}"
@using Blazored.SessionStorage
@using Newtonsoft.Json

@using Syncfusion.Blazor.Navigations

@using BlazorApp.Shared

@inject NavigationManager Navigation
@inject ISessionStorageService sessionStorage

@inject HttpClient Http

@inject PatientService PatientService
@inject PatientMngService PatientMngService

@inject ListVisitsService ListVisitsService
@inject VisitService VisitService

@inject ListVisusService ListVisusService
@inject VisusService VisusService

@inject ListControlliService ListControlliService
@inject ControlliService ControlliService

@inject ListOrtoctisService ListOrtoctisService
@inject OrtoctisService OrtoctisService

<h5>
    @TitlePage

    <span style="display: @fShowLessBtn;">
        <SfButton IconCss="e-icons e-chevron-up" CssClass="e-flat btn-white" Content="" OnClick='() => SwapView("less")'></SfButton>
    </span>
    <span style="display: @fShowMoreBtn;">
        <SfButton IconCss="e-icons e-chevron-down" CssClass="e-flat btn-white" Content="" OnClick='() => SwapView("more")'></SfButton>
    </span>
    @*<span>PazienteValido: @PazienteValido</span>*@

    <span style="float: right;">
        <SfButton IconCss="e-icons e-save icon-navy" CssClass="e-flat btn-light" Content="@SaveText" OnClick="() => SavePatient()"></SfButton>
        &nbsp;&nbsp;&nbsp;
        <SfButton IconCss="e-icons e-chevron-left icon-green" CssClass="e-flat btn-light" Content="Elenco Pazienti" OnClick="() => GoToPatientList(0)"></SfButton>
    </span>
</h5>

<!-- Sezione paziente -->
<div class="container-fluid bg-light" style="padding: 0 10px 10px 10px;">
    <div class="row">
        <div class="col-sm-1">
            <SfTextBox ID="cod" @bind-Value="@Cod" Placeholder="Cod" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
        </div>

        <div class="col-sm-4">
            <SfTextBox ID="lname" @bind-Value="@LName" Placeholder="Cognome" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
        </div>

        <div class="col-sm-3">
            <SfTextBox ID="fname" @bind-Value="@FName" Placeholder="Nome" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
        </div>

        <div class="col-sm-1">
            <SfMaskedTextBox ID="datanascita" @bind-Value="@BirthDate" Mask="00/00/0000" Placeholder="Data di nascita" FloatLabelType="@FloatLabelType.Always"></SfMaskedTextBox>
        </div>

        <div class="col-sm-2">
            <SfTextBox ID="codfisc" @bind-Value="@CodFisc" Placeholder="Cod Fiscale" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
        </div>
    </div>

    @if (ShowMore)
    {
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-4">
                <SfTextBox ID="address" @bind-Value="@Address" Placeholder="Indirizzo" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
            </div>

            <div class="col-sm-3">
                <SfTextBox ID="city" @bind-Value="@City" Placeholder="Città" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
            </div>

            <div class="col-sm-1">
                <SfTextBox ID="zipcode" @bind-Value="@ZipCode" Placeholder="CAP" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
            </div>

            <div class="col-sm-3">
                <SfTextBox ID="state" @bind-Value="@State" Placeholder="Stato" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
            </div>
        </div>
        
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-2">
                <SfTextBox ID="phone" @bind-Value="@Phone" Placeholder="Telefono" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
            </div>

            <div class="col-sm-2">
                <SfTextBox ID="mobile" @bind-Value="@Mobile" Placeholder="Mobile" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
            </div>

            <div class="col-sm-7">
                <SfTextBox ID="email" @bind-Value="@Email" Placeholder="Email" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
            </div>
        </div>
        
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-8">
                <SfTextBox ID="note" @bind-Value="@Note" Placeholder="Note" FloatLabelType="@FloatLabelType.Always" Multiline="true"></SfTextBox>
            </div>
            <div class="col-sm-4">
                <span style="color: rgba(0, 0, 0, 0.54); font-size: 13px;line-height: 1.4; display:block; margin-bottom:2px;">Privacy</span>
                <div class="col-sm-4">
                    <label style="font-size: 11pt; padding: 0 8px 8px 0; vertical-align: super;">@switchPrivacy</label>
                    <SfSwitch @bind-Checked="@fPrivacy" ValueChange="ManagePrivacy" TChecked="bool"></SfSwitch>
                </div>
            </div>
        </div>
    }
</div>

<!-- Sezione visite, prescrizione occhiali, controlli, ortottica,   -->
@if (ShowVisits)
{
    <div class="container-fluid" style="padding: 10px 10px; margin-top: 30px;">
        <div class="row">
            <div class="col-sm-2">
                <span style="font-weight:600;">Data:&nbsp;</span><span style="font-size: 14px; color:midnightblue;">@DataVisita</span>
            </div>

            <div class="col-sm-2">
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <SfButton IconCss="e-icons icon-small e-first-page" CssClass="e-small e-flat btn-light" Content="" OnClick="() => GoToVisit(0)" Disabled="@FirstVisitDisabled" title="Ultima visita"></SfButton>
                        <SfButton IconCss="e-icons icon-small e-chevron-left" CssClass="e-small e-flat btn-light" Content="" OnClick="() => GoToVisit(1)" Disabled="@PrevVisitDisabled" title="Visita precedente"></SfButton>
                        <SfButton IconCss="e-icons icon-small e-chevron-right" CssClass="e-small e-flat btn-light" Content="" OnClick="() => GoToVisit(2)" Disabled="@NextVisitDisabled" title="Visita successiva"></SfButton>
                        <SfButton IconCss="e-icons icon-small e-last-page" CssClass="e-small e-flat btn-light" Content="" OnClick="() => GoToVisit(3)" Disabled="@LastVisitDisabled" title="Prima visita"></SfButton>
				    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <SfTab>
                    <TabItems>
                        <!-- Sezione Visite -->
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Visite"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-sm-2">
                                        <SfButton IconCss="e-icons e-circle-add icon-navy" CssClass="e-flat btn-light" Content=" Nuova Visita" OnClick="() => NewVisit()" Disabled="@AddVisitDisabled"></SfButton>
                                    </div>
                                    <div class="col-sm-10">
                                        <span style="float: right;">
                                            <SfButton IconCss="e-icons icon-navy e-save" CssClass="e-flat btn-light" Content=" Salva Visita" OnClick="() => SaveVisit()"></SfButton>
                                            @* Disabled="@SaveVisitDisabled"*@
                                        </span>
                                    </div>
                                </div>

                                <!-- Dati di verifica -->
                                @*
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered" style="border:1px solid #f90;">
                                            <thead>
                                                <tr>
                                                    <th>VisitaCorrente</th>
                                                    <th>Visita.IdVisit</th>
                                                    <th>Visita.ptIdUser</th>
                                                    <th>Visita.InsertDate</th>
                                                    <th>Visita.ptIdPatient</th>
                                                    <th>Visita.ptIdAppointment</th>
                                                    <th>Visita.DataVisita</th>
                                                    <th>Visita.DiagnosiOD</th>
                                                    <th>Visita.DiagnosiOS</th>
                                                    <th>Visita.Anamnesi</th>
                                                    <th>Visita.TipoVisita</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@VisitaCorrente</td>
                                                    <td>@Visita.IdVisit</td>
                                                    <td>@Visita.ptIdUser</td>
                                                    <td>@Visita.InsertDate</td>
                                                    <td>@Visita.ptIdPatient</td>
                                                    <td>@Visita.ptIdAppointment</td>
                                                    <td>@Visita.DataVisita</td>
                                                    <td>@Visita.DiagnosiOD</td>
                                                    <td>@Visita.DiagnosiOS</td>
                                                    <td>@Visita.Anamnesi</td>
                                                    <td>@Visita.TipoVisita</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                *@

                                <!-- Dati visita -->
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-sm-5">
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="diagnosiod" @bind-Value="@Visita.DiagnosiOD" Placeholder="Diagnosi OD" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="diagnosios" @bind-Value="@Visita.DiagnosiOS" Placeholder="Diagnosi OS" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="anamnesi" @bind-Value="@Visita.Anamnesi" Placeholder="Anamnesi" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="annessi" @bind-Value="@Visita.Annessi" Placeholder="Annessi" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="segantod" @bind-Value="@Visita.Seg_Ant_Od" Placeholder="Seg.Ant.OD" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="segantos" @bind-Value="@Visita.Seg_Ant_Os" Placeholder="Seg.Ant.OS" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="fundusod" @bind-Value="@Visita.Fundus_Od" Placeholder="Fundus OD" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="fundusos" @bind-Value="@Visita.Fundus_Os" Placeholder="Fundus OS" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="visusod" @bind-Value="@Visita.Visus_Od" Placeholder="Visus OD" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="visusos" @bind-Value="@Visita.Visus_Os" Placeholder="Visus OS" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="terapia" @bind-Value="@Visita.Terapia" Placeholder="Terapia" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-4">
                                                <SfTextBox ID="odpl" @bind-Value="@Visita.ODPL" Placeholder="ODPL" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-4">
                                                <SfTextBox ID="odpv" @bind-Value="@Visita.ODPV" Placeholder="ODPV" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-4">
                                                <SfTextBox ID="odmd" @bind-Value="@Visita.ODMD" Placeholder="MD OD" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-4">
                                                <SfTextBox ID="ospl" @bind-Value="@Visita.OSPL" Placeholder="OSPL" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-4">
                                                <SfTextBox ID="ospv" @bind-Value="@Visita.OSPV" Placeholder="OSPV" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-4">
                                                <SfTextBox ID="osmd" @bind-Value="@Visita.OSMD" Placeholder="MD OS" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="motivovisita" @bind-Value="@Visita.MotivoVisita" Placeholder="Motivo" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-7">
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="interventi" @bind-Value="@Visita.Interventi" Placeholder="Interventi" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-7">
                                                <SfTextBox ID="curva" @bind-Value="@Visita.CurvaTono" Placeholder="Curva Tono" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-5">
                                                <SfTextBox ID="argon" @bind-Value="@Visita.CurvaArgon" Placeholder="Argon" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="vortotticaod" @bind-Value="@Visita.VOrtotticaOD" Placeholder="Visus corretto OD" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="vortotticaos" @bind-Value="@Visita.VOrtotticaOS" Placeholder="Visus corretto OS" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-7">
                                                <SfTextBox ID="shirmer" @bind-Value="@Visita.SHIRMER" Placeholder="SHIRMER" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-5">
                                                <SfTextBox ID="tono" @bind-Value="@Visita.TONO" Placeholder="TONO" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-7">
                                                <SfTextBox ID="lavaggio" @bind-Value="@Visita.Lavaggio" Placeholder="Lavaggio" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-5">
                                                <SfTextBox ID="biometria" @bind-Value="@Visita.Biometria" Placeholder="Biometria" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-6">
                                                <SfTextBox ID="fagod" @bind-Value="@Visita.FAG_Od" Placeholder="Fag OD" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-6">
                                                <SfTextBox ID="fagos" @bind-Value="@Visita.FAG_Os" Placeholder="Fag OS" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-7">
                                                <SfTextBox ID="topografia" @bind-Value="@Visita.Topografia" Placeholder="Topografia" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-5">
                                                <SfTextBox ID="iv" @bind-Value="@Visita.IV" Placeholder="IV" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-6">
                                                <SfTextBox ID="octod" @bind-Value="@Visita.OCT_Od" Placeholder="Oct OD" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-6">
                                                <SfTextBox ID="octos" @bind-Value="@Visita.OCT_Os" Placeholder="Oct OS" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-6">
                                                <SfTextBox ID="rnflod" @bind-Value="@Visita.RNFL_Od" Placeholder="RNFL OD" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-6">
                                                <SfTextBox ID="rnflos" @bind-Value="@Visita.RNFL_Os" Placeholder="RNFL OS" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-6">
                                                <SfTextBox ID="cvod" @bind-Value="@Visita.CV_Od" Placeholder="CV OD" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-6">
                                                <SfTextBox ID="cvos" @bind-Value="@Visita.CV_Os" Placeholder="CV OS" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-3">
                                                <SfTextBox ID="pachimetriaod" @bind-Value="@Visita.PACH_Od" Placeholder="Pachimetria OD" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="pachimetriaos" @bind-Value="@Visita.PACH_Os" Placeholder="Pachimetria OS" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="cdod" @bind-Value="@Visita.CD_Od" Placeholder="C/D OD" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="cdos" @bind-Value="@Visita.CD_Os" Placeholder="C/D OS" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="auto" @bind-Value="@Visita.Auto" Placeholder="Auto" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col">
                                                <SfTextBox ID="conclusioni" @bind-Value="@Visita.Conclusioni" Placeholder="Conclusioni" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Note visita -->
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col">
                                        <SfTextBox ID="notevisita" @bind-Value="@Visita.Note" Placeholder="NOTE" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </TabItem>

                        <!-- Sezione Prescrizione Occhiali -->
                        <TabItem Disabled=@PrescrizioneDisabled>
                            <ChildContent>
                                <TabHeader Text="Prescrizione Occhiali"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-sm-12">
                                        <span style="float: right;">
                                            <SfButton IconCss="e-icons icon-navy e-save" CssClass="e-flat btn-light" Content=" Salva Prescrizione" OnClick="() => SaveVisus()" Disabled="@SaveVisusDisabled"></SfButton>
                                        </span>
                                    </div>
                                </div>

                                <!-- Occhi Destro - Sinistro -->
                                <div class="row" style="margin-top: 10px;">
                                    <!-- Occhio Destro -->
                                    <div class="col-sm-6">
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-3">&nbsp;</div>
                                            <!-- style="border:1px solid #f90;"-->
                                            <div class="col" style="text-align: center; font-size: larger;">
                                                <!-- border:1px solid #09f;-->
                                                Occhio Destro
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-3">&nbsp;</div>
                                            <div class="col-sm-3" style="text-align: center; font-weight:bolder;">
                                                Sfera
                                            </div>
                                            <div class="col-sm-3" style="text-align: center; font-weight:bolder;">
                                                Cilindro
                                            </div>
                                            <div class="col-sm-3" style="text-align: center; font-weight:bolder;">
                                                Asse
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-3" style="text-align: right; padding-top: 5px;">
                                                <span>PER DISTANZA</span>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="ODD_Sf" @bind-Value="@Visus.ODD_Sf"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="ODD_Cil" @bind-Value="@Visus.ODD_Cil"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="ODD_Asse" @bind-Value="@Visus.ODD_Asse"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-3" style="text-align: right; padding-top: 5px;">
                                                <span>A PERMANENZA</span>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="ODP_Sf" @bind-Value="@Visus.ODP_Sf"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="ODP_Cil" @bind-Value="@Visus.ODP_Cil"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="ODP_Asse" @bind-Value="@Visus.ODP_Asse"></SfTextBox>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-3" style="text-align: right; padding-top: 5px;">
                                                <span>PER LETTURA</span>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="ODL_Sf" @bind-Value="@Visus.ODL_Sf"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="ODL_Cil" @bind-Value="@Visus.ODL_Cil"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="ODL_Asse" @bind-Value="@Visus.ODL_Asse"></SfTextBox>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Occhio Sinistro -->
                                    <div class="col-sm-6">
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col" style="text-align: center; font-size: larger;">
                                                <!--  border:1px solid #09f; -->
                                                Occhio Sinistro
                                            </div>
                                            <div class="col-sm-3">&nbsp;</div>
                                            <!-- style="border:1px solid #f90;"-->
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-3" style="text-align: center; font-weight:bolder;">
                                                Sfera
                                            </div>
                                            <div class="col-sm-3" style="text-align: center; font-weight:bolder;">
                                                Cilindro
                                            </div>
                                            <div class="col-sm-3" style="text-align: center; font-weight:bolder;">
                                                Asse
                                            </div>
                                            <div class="col-sm-3">&nbsp;</div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-3">
                                                <SfTextBox ID="OSD_Sf" @bind-Value="@Visus.OSD_Sf"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="OSD_Cil" @bind-Value="@Visus.OSD_Cil"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="OSD_Asse" @bind-Value="@Visus.OSD_Asse"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">&nbsp;</div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-3">
                                                <SfTextBox ID="OSP_Sf" @bind-Value="@Visus.OSP_Sf"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="OSP_Cil" @bind-Value="@Visus.OSP_Cil"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="OSP_Asse" @bind-Value="@Visus.OSP_Asse"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">&nbsp;</div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-sm-3">
                                                <SfTextBox ID="OSL_Sf" @bind-Value="@Visus.OSL_Sf"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="OSL_Cil" @bind-Value="@Visus.OSL_Cil"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">
                                                <SfTextBox ID="OSL_Asse" @bind-Value="@Visus.OSL_Asse"></SfTextBox>
                                            </div>
                                            <div class="col-sm-3">&nbsp;</div>
                                        </div>
                                    </div>

                                    <div class="col-sm-1">&nbsp;</div>
                                </div>

                                <!-- TABO - Internazionale -->
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-sm-4">
                                        <label style="font-size: 12pt; padding: 0 8px 8px 0; vertical-align: super;">@switchTabo</label>
                                        <SfSwitch @bind-Checked="@fTabo" ValueChange="ManageTabo" TChecked="bool"></SfSwitch>
                                    </div>

                                    @*
                                <div class="col-sm-6" style="text-align:right;">
                                <label style="font-size: 12pt; padding: 0 8px 8px 0;">@switchInter</label>
                                <SfSwitch @bind-Checked="@fInter" ValueChange="ManageInter" TChecked="bool"></SfSwitch>
                                </div>
                                *@
                                </div>

                                <!-- Distanza interpupillare -->
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-sm-2">
                                        <SfTextBox ID="Distanza" @bind-Value="@Visus.DI" Placeholder="Distanza interpupillare (mm)" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                    </div>
                                </div>

                                <!-- Note visus -->
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col">
                                        <SfTextBox ID="NoteVisus" @bind-Value="@Visus.Note" Placeholder="NOTE" FloatLabelType="@FloatLabelType.Always" Multiline="true"></SfTextBox>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </TabItem>

                        <!-- Sezione Controlli -->
                        <TabItem Disabled=@ControlliDisabled>
                            <ChildContent>
                                <TabHeader Text="Controlli"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-sm-1"><b>&nbsp;Controllo</b> <i>@(CntrCorrente + 1)</i> <b>di</b> <i>@ListaCntr.Count</i></div>

                                    <div class="col-sm-2">
                                        <SfButton IconCss="e-icons icon-small e-first-page" CssClass="e-small e-flat btn-light" Content="" OnClick="() => GoToControl(0)" Disabled="@FirstCntrDisabled" title="Ultimo Controllo"></SfButton>
                                        <SfButton IconCss="e-icons icon-small e-chevron-left" CssClass="e-small e-flat btn-light" Content="" OnClick="() => GoToControl(1)" Disabled="@PrevCntrDisabled" title="Controllo precedente"></SfButton>
                                        <SfButton IconCss="e-icons icon-small e-chevron-right" CssClass="e-small e-flat btn-light" Content="" OnClick="() => GoToControl(2)" Disabled="@NextCntrDisabled" title="Controllo successivo"></SfButton>
                                        <SfButton IconCss="e-icons icon-small e-last-page" CssClass="e-small e-flat btn-light" Content="" OnClick="() => GoToControl(3)" Disabled="@LastCntrDisabled" title="Primo Controllo"></SfButton>
                                    </div>

                                    <div class="col-sm-1">&nbsp;</div>

                                    <div class="col-sm-2">
                                        <SfButton IconCss="e-icons e-circle-add icon-navy" CssClass="e-flat btn-light" Content=" Nuovo Controllo" OnClick="() => NewControl()" Disabled="@AddCntrDisabled"></SfButton>
                                    </div>
                                    <div class="col-sm-6">
                                        <span style="float: right;">
                                            <SfButton IconCss="e-icons icon-navy e-save" CssClass="e-flat btn-light" Content=" Salva Controllo" OnClick="() => SaveControl()" Disabled="@SaveCntrDisabled"></SfButton>
                                        </span>
                                    </div>
                                </div>

                                <!-- Dati di verifica -->
                                @*
                            <div class="row" style="margin-top: 10px;">
                            <div class="col-sm-12">
                            <table class="table table-bordered" style="border:1px solid #f90;">
                            <thead>
                            <tr>
                            <th>VisitaCorrente</th>
                            <th>Visita.IdVisit</th>
                            <th>Visita.DataVisita</th>
                            <th>Controllo.IdControllo</th>
                            <th>Controllo.ptIdUser</th>
                            <th>Controllo.InsertDate</th>
                            <th>Controllo.ptIdVisit</th>
                            <th>Controllo.DataControllo</th>
                            <th>Controllo.Valutazione</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <td>@VisitaCorrente</td>
                            <td>@Visita.IdVisit</td>
                            <td>@Visita.DataVisita</td>
                            <td>@Controllo.IdControllo</td>
                            <td>@Controllo.ptIdUser</td>
                            <td>@Controllo.InsertDate</td>
                            <td>@Controllo.ptIdVisit</td>
                            <td>@Controllo.DataControllo</td>
                            <td>@Controllo.Valutazione</td>
                            </tr>
                            </tbody>
                            </table>
                            </div>
                            </div>
                            *@
                                
                                <!-- Dati controllo -->
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-sm-1">
                                        <SfMaskedTextBox ID="datacontrollo" @bind-Value="@DataControllo" Mask="00/00/0000" Placeholder="Data controllo" FloatLabelType="@FloatLabelType.Always"></SfMaskedTextBox>
                                    </div>
                                    <div class="col-sm-4">
                                        <label id="label_valutazione" for="valutazione" style="color: #343a40; font-weight: 500; margin: 3px 0;">Valutazione</label>
                                        <SfTextBox ID="valutazione" @bind-Value="@Controllo.Valutazione" Multiline=true></SfTextBox>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </TabItem>

                        <!-- Sezione Ortottica -->
                        <TabItem Disabled=@OrtotticaDisabled>
                            <ChildContent>
                                <TabHeader Text="Ortottica"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-sm-12">
                                        <span style="float: right;">
                                            <SfButton IconCss="e-icons icon-navy e-save" CssClass="e-flat btn-light" Content=" Salva Ortottica" OnClick="() => SaveOrtoctis()" Disabled="@SaveOrtoctisDisabled"></SfButton>
                                        </span>
                                    </div>
                                </div>

                                <!-- Posizione Primaria -->
                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8">
                                        <SfTextBox ID="oPosizione" @bind-Value="@Ortoctis.Posizione" Placeholder="Posizione Primaria" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                    </div>
                                </div>

                                <!-- Motilità Attiva -->
                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8">
                                        <SfTextBox ID="oMotilita" @bind-Value="@Ortoctis.Motilita" Placeholder="Motilità Attiva" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                    </div>
                                </div>

                                <!-- Convergenza -->
                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8">
                                        <SfTextBox ID="oConvergenza" @bind-Value="@Ortoctis.Convergenza" Placeholder="Convergenza" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                    </div>
                                </div>

                                <!-- Cover Test -->
                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8">
                                        <SfTextBox ID="oCover" @bind-Value="@Ortoctis.Cover" Placeholder="Cover Test" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                    </div>
                                </div>

                                <!-- Prisma Cover Test -->
                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8">
                                        <SfTextBox ID="oPrismaCover" @bind-Value="@Ortoctis.PrismaCover" Placeholder="Prisma Cover Test" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                    </div>
                                </div>

                                <!-- Ampiezza Fusiva -->
                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8">
                                        <SfTextBox ID="oAmpiezza" @bind-Value="@Ortoctis.Ampiezza" Placeholder="Ampiezza Fusiva" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                    </div>
                                </div>

                                <!-- Vetro Rosso -->
                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8">
                                        <SfTextBox ID="oVetro" @bind-Value="@Ortoctis.Vetro" Placeholder="Vetro Rosso" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                    </div>
                                </div>

                                <!-- Lang Test -->
                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8">
                                        <SfTextBox ID="oLang" @bind-Value="@Ortoctis.Lang" Placeholder="Lang Test" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                    </div>
                                </div>

                                <!-- Titmus Test -->
                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8">
                                        <SfTextBox ID="oTitmus" @bind-Value="@Ortoctis.Titmus" Placeholder="Titmus Test" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                    </div>
                                </div>

                                <!-- Altri test per la visione binoculare -->
                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8">
                                        <SfTextBox ID="oAltriTest" @bind-Value="@Ortoctis.AltriTest" Placeholder="Altri test per la visione binoculare" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
                                    </div>
                                </div>

                                <!-- Conclusioni -->
                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8">
                                        <label class="e-label-top" style="color: #343a40; font-weight: 500; font-size: 12px; padding-bottom:3px;" id="label_Conclusioni" for="oConclusioni">Conclusioni</label>
                                        <SfTextBox ID="oConclusioni" @bind-Value="@Ortoctis.Conclusioni" Multiline="true"></SfTextBox>
                                    </div>
                                </div>

                                <!-- Diagnosi -->
                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8">
                                        <label class="e-label-top" style="color: #343a40; font-weight: 500; font-size: 12px; padding-bottom:3px;" id="label_Diagnosi" for="oDiagnosi">Diagnosi</label>
                                        <SfTextBox ID="oDiagnosi" @bind-Value="@Ortoctis.Diagnosi" Multiline="true"></SfTextBox>
                                    </div>
                                </div>

                                <!-- Terapia -->
                                <div class="row" style="margin-top: 12px;">
                                    <div class="col-sm-8">
                                        <label class="e-label-top" style="color: #343a40; font-weight: 500; font-size: 12px; padding-bottom:3px;" id="label_Terapia" for="oTerapia">Terapia</label>
                                        <SfTextBox ID="oTerapia" @bind-Value="@Ortoctis.Terapia" Multiline="true"></SfTextBox>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                    </TabItems>
                </SfTab>
            </div>
        </div>
    </div>
}

<br />
<br />

<SfDialog Width="400px" Target="#target" ShowCloseIcon="true" @bind-Visible="DialogVisible">
    <DialogTemplates>
        <Header> @DialogHeader </Header>
        <Content>
            <div class='msg-wrapper col-lg-12'>
                <span class='@DialogIcon'></span>
                <span class='error-msg col-lg-10'>@DialogText</span>
            </div>
            <div class='error-detail col-lg-8'>
                <span>@DialogDetail</span>
            </div>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="OK" IsPrimary="true" OnClick="@CloseDialog" />
    </DialogButtons>
</SfDialog>

<style>
    .default-tab {
        border: 1px solid #d7d7d7;
    }

        .default-tab .e-content .e-item {
            padding: 10px;
            text-align: justify;
        }

    .default-tab-control-section {
        margin: 20px 20% 20px 20%;
    }

    @@media screen and (max-width: 480px) {
        .default-tab-control-section {
            margin: 20px 0 20px 0;
        }
    }

    .bootstrap5 .default-tab,
    .bootstrap .default-tab,
    .bootstrap4 .default-tab {
        border: none;
    }

        .bootstrap5 .default-tab .e-content > .e-item.e-active,
        .bootstrap4 .default-tab .e-content > .e-item.e-active,
        .bootstrap .default-tab .e-content > .e-item.e-active {
            background: #FAF9F8;
        }

    .e-tab .e-tab-header .e-toolbar-items .e-active .e-tab-wrap {
        border-bottom: 4px solid #0d6efd;
    }

        .e-tab .e-tab-header .e-toolbar-items .e-active .e-tab-wrap:hover {
        border-bottom: 4px solid #0d6efd;
    }

    .e-tab .e-tab-header .e-toolbar-item:not(.e-active) {
        border-bottom: 0px;
    }

    @*/*
        .e-tab .e-toolbar .e-toolbar-items .e-toolbar-item .e-text-wrap {
        height: 50px;
    }

    .e-tab-wrap:hover, .e-tab-wrap:active {
        border-bottom: 4px solid #0d6efd !important;
    }*/
    *@
    
    .e-btn.e-flat.e-primary, .e-btn.e-flat.e-primary:focus {
        background-color: #317ab9;
        border-color: #265f91;
        color: #fff;
    }

        .e-btn.e-flat.e-primary:hover, .e-btn.e-flat.e-primary:active {
            background-color: #21527d;
            border-color: #163854;
            color: #fff;
        }

    .e-circle-close {
        width: 24px;
        height: 24px;
        position: relative;
        display: inline-block;
    }

    .e-circle-info {
        width: 24px;
        height: 24px;
        position: relative;
        display: inline-block;
    }

    .error-msg {
        color: #66afe9;
        display: inline-block;
        position: relative;
        top: -20px;
        left: 10px;
    }

    .error-detail {
        position: relative;
        left: 36px;
        margin: 0 0 21px;
    }

    @*/*
    .e-icons.close-icon.col-lg-2:before {
        content: '\e7e9';
        font-size: 26px;
        color: #d9534f;
        position: relative;
        left: 1px;
        bottom: 18px; e-circle-info
    }*/
    *@
    
    .e-icons.e-circle-close.col-lg-2:before {
        font-size: 20px;
        color: #d9534f;
        position: relative;
        left: 4px;
        bottom: 18px;
    }

    .e-icons.e-circle-info.col-lg-2:before {
        font-size: 20px;
        color: #228e1f;
        position: relative;
        left: 4px;
        bottom: 18px;
    }

    .e-dialog .e-footer-content {
        background-color: #f8f8f8;
    }

    .e-dialog.e-control.e-popup, .e-dialog.e-control.e-popup .e-dlg-header-content {
        background-color: #d9edf7;
    }

    .e-dialog.e-control.e-popup {
        padding: 3px;
    }

    .e-dialog.e-control .e-dlg-header-content {
        padding: 10px;
    }

    .e-dialog.e-control .e-footer-content {
        padding: 8px 12px;
    }

    .e-dialog.e-control .e-dlg-content {
        padding: 15px 0 0;
    }

    .msg-wrapper.col-lg-12 {
        margin-top: 20px;
    }

    .customtooltip.e-tooltip-wrap.e-popup {
        background-color: #ededed;
        border: 1px solid #d9d9d9;
    }
    .e-tooltip-wrap .e-tip-content {
        color: #3d3d3d;
    }
    .customtooltip.e-tooltip-wrap .e-arrow-tip-outer {
        border-bottom: 12px solid transparent;
        border-left: 12px solid transparent;
        border-top: 12px solid transparent;
        border-right: 12px solid transparent;
    }
    .customtooltip.e-tooltip-wrap .e-arrow-tip-inner {
        color: #ededed;
        font-size: 25.9px;
    }
    </style>


@code {
    [Parameter]
    public decimal id { get; set; }

    string TitlePage = "";

    public const int PAGE_COUNT = 10;
    public const int DEFAULT_PAGE_SIZE = 10;
    public string[] PageSizes = new string[] { "Tutti", "5", "10", "20", "50" };

    private List<TabData> TabStyles { get; set; } = new List<TabData>() {
        new TabData { StyleMode = "Default Tab", StyleClass = "" },
        new TabData { StyleMode = "Fill Tab Header", StyleClass = "e-fill" },
        new TabData { StyleMode = "Background Tab Header", StyleClass = "e-background" }
    };
    public class TabData
    {
        public string StyleMode { get; set; }
        public string StyleClass { get; set; }
    }

    Boolean ShowMore = true;
    string fShowLessBtn = "inline-block";
    string fShowMoreBtn = "none";

    private string SaveText = "";

    Boolean ShowVisits = false;

    #region dialog
    private bool DialogVisible { get; set; } = false;

    private string DialogHeader { get; set; } = "";
    private string DialogIcon { get; set; } = "";
    private string DialogText { get; set; } = "";
    private string DialogDetail { get; set; } = "";

    private void CloseDialog()
    {
        DialogVisible = false;
    }
    #endregion

    #region logging
    string? LoggedUser;
    string[]? arUser;

    private string? gIdUser;
    private string? gFName;
    private string? gLName;
    private string? gSuperUser;

    private string? SessionID;

    //private string[] gRoleUser;

    private string sessionLoggedUser { get; set; }
    #endregion

    #region binding dati paziente
    private List<Patient>? Pazienti;
    private Patient Paziente = new Patient();

    public Boolean PazienteValido = false;

    public string LName = "";
    public string FName = "";

    public string Cod = "";
    public string CodFisc = "";

    public string BirthDate = "";
    public string BirthCity = "";
    public string Gender = "";

    public string Address = "";
    public string City = "";
    public string ZipCode = "";
    public string State = "";

    public string Phone = "";
    public string Mobile = "";
    public string Email = "";
    public string Note = "";

    public string Privacy = "";

    private string switchPrivacy = "Da firmare";
    private bool fPrivacy = false;
    #endregion

    #region binding dati visita
    public string DataVisita = "";

    public Boolean FirstVisitDisabled = false;
    public Boolean PrevVisitDisabled = false;
    public Boolean NextVisitDisabled = false;
    public Boolean LastVisitDisabled = false;

    public Boolean AddVisitDisabled = false;
    public Boolean SaveVisitDisabled = true;

    public Boolean IsNewVisit = false;

    private Visit Visita = new Visit();

    // private List<Coppia> ListaVisite;
    private List<CoppiaDecDat> ListaVisite = new List<CoppiaDecDat>();
    private int VisitaCorrente = -1;
    #endregion

    #region binding dati prescrizione occhiali
    public string DataMisura = "";

    public Boolean PrescrizioneDisabled = true;
    public Boolean SaveVisusDisabled = false;
    public Boolean IsNewVisus = false;

    private Misure Visus = new Misure();

    private List<CoppiaDecDat> ListaVisus;
    private int VisusCorrente = -1;

    private string switchTabo = "TABO: Si";
    private bool fTabo = true;

    private string switchInter = "INTERNAZIONALE: No";
    private bool fInter = false;
    #endregion

    #region binding dati controllo
    public string DataControllo = "";

    public Boolean ControlliDisabled = true;

    public Boolean FirstCntrDisabled = false;
    public Boolean PrevCntrDisabled = false;
    public Boolean NextCntrDisabled = false;
    public Boolean LastCntrDisabled = false;

    public Boolean AddCntrDisabled = false;
    public Boolean SaveCntrDisabled = false;

    public Boolean IsNewCntr = false;

    private Controlli Controllo = new Controlli();

    private List<CoppiaDecDat> ListaCntr = new List<CoppiaDecDat>();
    private int CntrCorrente = -1;
    #endregion

    #region visita ortottica
    public string DataOrtottica = "";

    public Boolean OrtotticaDisabled = true;

    public Boolean SaveOrtoctisDisabled = false;
    public Boolean IsNewOrtoctis = false;

    private Ortottica Ortoctis = new Ortottica();

    private List<CoppiaDecDat> ListaOrtoctis;
    private int OrtoctisCorrente = -1;
    #endregion

    #region Funzioni di supporto
    private void ManagePrivacy(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> obj)
    {
        if (fPrivacy)
        {
            switchPrivacy = "Firmata";
        }
        else
        {
            switchPrivacy = "Da firmare";
        }
    }

    private void SwapView(string view)
    {
        if (view == "less")
        {
            ShowMore = false;

            fShowLessBtn = "none";
            fShowMoreBtn = "inline-block";
        }
        else
        {
            ShowMore = true;

            fShowLessBtn = "inline-block";
            fShowMoreBtn = "none";
        }
    }

    private string SetObjNullToStr(object obj)
    {
        string result = "";

        if ((obj == null) || (obj.Equals(System.DBNull.Value)))
        {
            result = "";
        }
        else
        {
            result = obj.ToString();
        }

        return result;
    }

    public static int GetDaysInMonth(int year, int month)
    {
        // Verifica che il mese sia compreso tra 1 e 12
        if (month < 1 || month > 12)
        {
            throw new ArgumentOutOfRangeException(nameof(month), "Il mese deve essere compreso tra 1 e 12.");
        }

        // Anni bisestili: divisibili per 4, ma non per 100, a meno che siano divisibili per 400
        bool isLeapYear = year % 4 == 0 && (year % 100 != 0 || year % 400 == 0);

        // Numero di giorni per ogni mese
        int[] daysInMonth = { 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 };

        // Aggiungi un giorno a febbraio se è un anno bisestile
        if (isLeapYear && month == 2)
        {
            return daysInMonth[month - 1] + 1;
        }

        return daysInMonth[month - 1];
    }

    private Boolean CheckDate(string myDate)
    {
        Boolean result = false;
        string myYear, myMonth, myDay;
        int GiorniMese;

        if (myDate.Length == 8)
        {
            myYear = myDate.Substring(4, 4);
            myMonth = myDate.Substring(2, 2);
            myDay = myDate.Substring(0, 2);

            if (int.Parse(myYear) > 1900)
            {
                if ((int.Parse(myMonth) >= 1) && (int.Parse(myMonth) <= 12))
                {
                    GiorniMese = (GetDaysInMonth(int.Parse(myYear), int.Parse(myMonth)));

                    if ((int.Parse(myDay) >= 1) && (int.Parse(myDay) <= GiorniMese))
                    {
                        result = true;
                    }
                    else
                    {
                        // giorno non compreso tra 1 e numero giorni previsto per il mese esci con false
                        DialogHeader = " Attenzione ";
                        DialogIcon = "e-icons e-circle-close col-lg-2";
                        DialogText = "Giorno data di nascita non valido";
                        DialogDetail = "";
                        DialogVisible = true;
                    }
                }
                else
                {
                    // mese non compreso tra 1 e 12 esci con false
                    DialogHeader = " Attenzione ";
                    DialogIcon = "e-icons e-circle-close col-lg-2";
                    DialogText = "Mese data di nascita non valido";
                    DialogDetail = "";
                    DialogVisible = true;
                }
            }
            else
            {
                // anno inferiore al 190 esci con false
                DialogHeader = " Attenzione ";
                DialogIcon = "e-icons e-circle-close col-lg-2";
                DialogText = "Anno data di nascita non valido";
                DialogDetail = "";
                DialogVisible = true;
            }
        }
        else
        {
            // anno inferiore al 190 esci con false
            DialogHeader = " Attenzione ";
            DialogIcon = "e-icons e-circle-close col-lg-2";
            DialogText = "Data di nascita non valida";
            DialogDetail = "";
            DialogVisible = true;
        }

        return result;
    }

    private void ManageTabo(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> obj)
    {
        if (fTabo)
        {
            switchTabo = "TABO: Si";
        }
        else
        {
            switchTabo = "TABO: No";
        }
    }

    private void ManageInter(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> obj)
    {
        if (fInter)
        {
            switchInter = "INTERNAZIONALE: Si";
        }
        else
        {
            switchInter = "INTERNAZIONALE: No";
        }
    }

    public async void GoToPatientList(decimal id)
    {
        await Task.Delay(10);
        Navigation.NavigateTo("/patientlist/" + id.ToString());
    }
    #endregion

    protected override async Task OnInitializedAsync()
    {
        sessionLoggedUser = await sessionStorage.GetItemAsStringAsync("sessionLoggedUser");

        if (string.IsNullOrEmpty(sessionLoggedUser))
        {
            Navigation.NavigateTo("/auth/login");
        }
        else
        {
            LoggedUser = sessionLoggedUser.Substring(1, sessionLoggedUser.Length - 2);

            arUser = LoggedUser.Split(",");

            gIdUser = arUser[0];
            gFName = arUser[1];
            gLName = arUser[2];
            gSuperUser = arUser[3];

            SessionID = arUser[4];

            // gRoleUser = arUser[n].Split(",");

            if (id == 0)
            {
                TitlePage = "Inserimento Nuovo Paziente";

                ShowMore = true;

                fShowLessBtn = "inline-block";
                fShowMoreBtn = "none";

                fPrivacy = false;
                switchPrivacy = "Da firmare";

                SaveText = "Inserisci dati Paziente";

                ShowVisits = false;
            }
            else
            {
                TitlePage = "Dati Paziente";

                ShowMore = false;

                fShowLessBtn = "none";
                fShowMoreBtn = "inline-block";

                SaveText = "Aggiorna dati Paziente";

                ShowVisits = true;

                // load dati paziente
                LoadPatient();

                // load date e id storico visite e dati ultima visita
                ListaVisite = await ListVisitsService.ListPatientsVisits(id);

                // load date e id storico visus e dati ultimo visus
                ListaVisus = await ListVisusService.ListPatientsVisus(id);

                // load date e id storico visite ortottiche
                ListaOrtoctis = await ListOrtoctisService.ListPatientsOrtottica(id);

                if (ListaVisite.Count > 0)
                {
                    SaveVisitDisabled = false;

                    if (ListaVisite.Count == 1)
                    {
                        FirstVisitDisabled = true;
                        PrevVisitDisabled = true;
                        NextVisitDisabled = true;
                        LastVisitDisabled = true;
                    }
                    else
                    {
                        FirstVisitDisabled = true;
                        PrevVisitDisabled = true;
                        NextVisitDisabled = false;
                        LastVisitDisabled = false;
                    }

                    PrescrizioneDisabled = false;
                    ControlliDisabled = false;
                    OrtotticaDisabled = false;

                    VisitaCorrente = 0;

                    DataVisita = ListaVisite[VisitaCorrente].Val.ToString("dd/MM/yyyy");

                    LoadVisit(ListaVisite[VisitaCorrente].ID);

                    LoadVisus();

                    // load date e id storico controlli e dati ultimo controllo

                    ListaCntr = await ListControlliService.ListControlliByVisit(ListaVisite[VisitaCorrente].ID);

                    if (ListaCntr.Count > 0)
                    {
                        if (ListaCntr.Count == 1)
                        {
                            FirstCntrDisabled = true;
                            PrevCntrDisabled = true;
                            NextCntrDisabled = true;
                            LastCntrDisabled = true;
                        }
                        else
                        {
                            FirstCntrDisabled = true;
                            PrevCntrDisabled = true;
                            NextCntrDisabled = false;
                            LastCntrDisabled = false;
                        }

                        CntrCorrente = 0;

                        DataControllo = ListaCntr[CntrCorrente].Val.ToString();

                        LoadControl(ListaCntr[CntrCorrente].ID);
                    }

                    AddCntrDisabled = false;

                    LoadOrtoctis();
                }
                else
                {
                    FirstVisitDisabled = true;
                    PrevVisitDisabled = true;
                    NextVisitDisabled = true;
                    LastVisitDisabled = true;

                    SaveVisitDisabled = true;

                    PrescrizioneDisabled = true;
                    ControlliDisabled = true;
                    OrtotticaDisabled = true;
                }

                StateHasChanged();
            }
        }
    }

    #region Pazienti
    public async void LoadPatient()
    {
        Paziente = await PatientMngService.GetPatient(id);

        FName = Paziente.FName;
        LName = Paziente.LName;

        Cod = SetObjNullToStr(Paziente.Cod);

        CodFisc = SetObjNullToStr(Paziente.CodFisc);
        BirthDate = SetObjNullToStr(Paziente.BirthDate);
        BirthCity = SetObjNullToStr(Paziente.BirthCity);
        Gender = SetObjNullToStr(Paziente.Gender);

        Address = SetObjNullToStr(Paziente.Address);
        City = SetObjNullToStr(Paziente.City);
        ZipCode = SetObjNullToStr(Paziente.ZipCode);
        State = SetObjNullToStr(Paziente.State);

        Phone = SetObjNullToStr(Paziente.Phone);
        Mobile = SetObjNullToStr(Paziente.Mobile);
        Email = SetObjNullToStr(Paziente.Email);

        Note = SetObjNullToStr(Paziente.Note);

        fPrivacy = Paziente.fPrivacy;

        if (fPrivacy)
        {
            switchPrivacy = "Firmata";
        }
    }

    // public async void ListPatients()
    // {
    //     string pp = FName + "|" + LName + "||||";

    //     Pazienti = await PatientService.PatList(FName + "|" + LName + "||||");
    // }

    public async void CheckPatient()
    {
        Boolean result = true;

        DialogHeader = "";
        DialogIcon = "";
        DialogText = "";
        DialogDetail = "";

        if (String.IsNullOrEmpty(FName) || String.IsNullOrEmpty(LName))
        {
            if (String.IsNullOrEmpty(LName))
            {
                result &= false;

                DialogHeader = " Attenzione ";
                DialogIcon = "e-icons e-circle-close col-lg-2";
                DialogText = "I campi Nome e Cognome sono obbligatori";
                DialogDetail = "Inserire il campo Cognome.";
            }

            if (String.IsNullOrEmpty(FName))
            {
                result &= false;

                DialogHeader = " Attenzione ";
                DialogIcon = "e-icons e-circle-close col-lg-2";
                DialogText = "I campi Nome e Cognome sono obbligatori";
                DialogDetail += " Inserire il campo Nome";
            }
        }
        else
        {
            if (Pazienti != null)
            {
                Pazienti.Clear();
            }

            Pazienti = await PatientService.PatList(FName + "|" + LName + "||||");

            if (Pazienti.Count == 0)
            {
                // non sono presenti casi di omonimia
                result = true;
            }
            else
            {
                if (String.IsNullOrEmpty(CodFisc))
                {
                    result &= false;

                    DialogHeader = " Attenzione ";
                    DialogIcon = "e-icons e-circle-close col-lg-2";
                    DialogText += "Sono presenti in archivio altri pazienti con lo stesso Nome e Cognome.";
                    DialogDetail = "Inserire il Codice Fiscale";
                }
                else
                {
                    for (var pp = 0; pp < Pazienti.Count; pp++)
                    {
                        if ((Pazienti[pp].CodFisc == CodFisc) && (Pazienti[pp].IdPatient != id))
                        {
                            result &= false;
                        }
                    }

                    if (!result)
                    {
                        result &= false;

                        DialogHeader = " Attenzione ";
                        DialogIcon = "e-icons e-circle-close col-lg-2";
                        DialogText += "Sono presenti in archivio altri pazienti con lo stesso Nome, Cognome e Codice Fiscale.";
                        DialogDetail = "Modificare il Nome o il Cognome o il Codice Fiscale";
                    }
                }
            }
        }

        StateHasChanged();

        // return result;
        PazienteValido = result;
    }

    public async void SavePatient()
    {
        string TmpDate;
        Boolean ContinueIns = true;

        await Task.Run(() =>
        {
            CheckPatient();
        });

        if (!PazienteValido)
        {
            DialogVisible = true;
        }
        else{
            Paziente.Cod = Cod;

            Paziente.FName = FName.Trim();
            Paziente.LName = LName.Trim();

            Paziente.CodFisc = CodFisc;

            if (BirthDate != "")
            {
                if (CheckDate(BirthDate))
                {
                    TmpDate = BirthDate.Substring(4, 4) + "-" + BirthDate.Substring(2, 2) + "-" + BirthDate.Substring(0, 2) + " 00:00:00,000";

                    Paziente.BirthDate = DateTime.ParseExact(TmpDate, "yyyy-MM-dd HH:mm:ss,fff", System.Globalization.CultureInfo.InvariantCulture);
                }
                else
                {
                    ContinueIns = false;
                }
            }

            if (ContinueIns)
            {
                Paziente.BirthCity = BirthCity;
                Paziente.Gender = Gender;

                Paziente.Address = Address;
                Paziente.City = City;
                Paziente.ZipCode = ZipCode;
                Paziente.State = State;

                Paziente.Phone = Phone;
                Paziente.Mobile = Mobile;
                Paziente.Email = Email;

                Paziente.Note = Note;

                Paziente.fPrivacy = fPrivacy;

                if (id == 0)
                {
                    Paziente.ptIdUser = Decimal.Parse(gIdUser);

                    Paziente.InsertDate = DateTime.Now;

                    await PatientMngService.AddPatient(Paziente);
                }
                else
                {
                    await PatientMngService.UpdPatient(id, Paziente);
                }

                Navigation.NavigateTo("/patientlist/" + id.ToString());
            }
        }

        StateHasChanged();
    }
    #endregion

    #region Visite
    public async void LoadVisit(decimal idv)
    {
        Visita = await VisitService.GetVisit(idv);

        Visita.DiagnosiOD = SetObjNullToStr(Visita.DiagnosiOD);

        Visita.DiagnosiOS = SetObjNullToStr(Visita.DiagnosiOS);

        Visita.Anamnesi = SetObjNullToStr(Visita.Anamnesi);

        Visita.Annessi = SetObjNullToStr(Visita.Annessi);

        Visita.Seg_Ant_Od = SetObjNullToStr(Visita.Seg_Ant_Od);

        Visita.Seg_Ant_Os = SetObjNullToStr(Visita.Seg_Ant_Os);

        Visita.Fundus_Od = SetObjNullToStr(Visita.Fundus_Od);

        Visita.Fundus_Os = SetObjNullToStr(Visita.Fundus_Os);

        Visita.Visus_Od = SetObjNullToStr(Visita.Visus_Od);

        Visita.Visus_Os = SetObjNullToStr(Visita.Visus_Os);

        Visita.Terapia = SetObjNullToStr(Visita.Terapia);

        Visita.ODPL = SetObjNullToStr(Visita.ODPL);

        Visita.ODPV = SetObjNullToStr(Visita.ODPV);

        Visita.ODMD = SetObjNullToStr(Visita.ODMD);

        Visita.OSPL = SetObjNullToStr(Visita.OSPL);

        Visita.OSPV = SetObjNullToStr(Visita.OSPV);

        Visita.OSMD = SetObjNullToStr(Visita.OSMD);

        Visita.Interventi = SetObjNullToStr(Visita.Interventi);

        Visita.CurvaTono = SetObjNullToStr(Visita.CurvaTono);

        Visita.CurvaArgon = SetObjNullToStr(Visita.CurvaArgon);

        Visita.VOrtotticaOD = SetObjNullToStr(Visita.VOrtotticaOD);

        Visita.VOrtotticaOS = SetObjNullToStr(Visita.VOrtotticaOS);

        Visita.SHIRMER = SetObjNullToStr(Visita.SHIRMER);

        Visita.TONO = SetObjNullToStr(Visita.TONO);

        Visita.Lavaggio = SetObjNullToStr(Visita.Lavaggio);

        Visita.Biometria = SetObjNullToStr(Visita.Biometria);

        Visita.FAG_Od = SetObjNullToStr(Visita.FAG_Od);

        Visita.FAG_Os = SetObjNullToStr(Visita.FAG_Os);

        Visita.Topografia = SetObjNullToStr(Visita.Topografia);

        Visita.IV = SetObjNullToStr(Visita.IV);

        Visita.OCT_Od = SetObjNullToStr(Visita.OCT_Od);

        Visita.OCT_Os = SetObjNullToStr(Visita.OCT_Os);

        Visita.RNFL_Od = SetObjNullToStr(Visita.RNFL_Od);

        Visita.RNFL_Os = SetObjNullToStr(Visita.RNFL_Os);

        Visita.CV_Od = SetObjNullToStr(Visita.CV_Od);

        Visita.CV_Os = SetObjNullToStr(Visita.CV_Os);

        Visita.PACH_Od = SetObjNullToStr(Visita.PACH_Od);

        Visita.PACH_Os = SetObjNullToStr(Visita.PACH_Os);

        Visita.CD_Od = SetObjNullToStr(Visita.CD_Od);

        Visita.CD_Os = SetObjNullToStr(Visita.CD_Os);

        Visita.Auto = SetObjNullToStr(Visita.Auto);

        Visita.MotivoVisita = SetObjNullToStr(Visita.MotivoVisita);

        Visita.Conclusioni = SetObjNullToStr(Visita.Conclusioni);

        Visita.Note = SetObjNullToStr(Visita.Note);

        StateHasChanged();
    }

    public async void CloneVisit(decimal idv)
    {
        Visit TmpVisita = new Visit();

        TmpVisita = await VisitService.GetVisit(idv);

        Visita.DiagnosiOD = SetObjNullToStr(TmpVisita.DiagnosiOD);

        Visita.DiagnosiOS = SetObjNullToStr(TmpVisita.DiagnosiOS);

        Visita.Anamnesi = SetObjNullToStr(TmpVisita.Anamnesi);

        Visita.Annessi = SetObjNullToStr(TmpVisita.Annessi);

        Visita.Seg_Ant_Od = SetObjNullToStr(TmpVisita.Seg_Ant_Od);

        Visita.Seg_Ant_Os = SetObjNullToStr(TmpVisita.Seg_Ant_Os);

        Visita.Fundus_Od = SetObjNullToStr(TmpVisita.Fundus_Od);

        Visita.Fundus_Os = SetObjNullToStr(TmpVisita.Fundus_Os);

        Visita.Visus_Od = SetObjNullToStr(TmpVisita.Visus_Od);

        Visita.Visus_Os = SetObjNullToStr(TmpVisita.Visus_Os);

        Visita.Terapia = SetObjNullToStr(TmpVisita.Terapia);

        Visita.ODPL = SetObjNullToStr(TmpVisita.ODPL);

        Visita.ODPV = SetObjNullToStr(TmpVisita.ODPV);

        Visita.ODMD = SetObjNullToStr(TmpVisita.ODMD);

        Visita.OSPL = SetObjNullToStr(TmpVisita.OSPL);

        Visita.OSPV = SetObjNullToStr(TmpVisita.OSPV);

        Visita.OSMD = SetObjNullToStr(TmpVisita.OSMD);

        Visita.Interventi = SetObjNullToStr(TmpVisita.Interventi);

        Visita.CurvaTono = SetObjNullToStr(TmpVisita.CurvaTono);

        Visita.CurvaArgon = SetObjNullToStr(TmpVisita.CurvaArgon);

        Visita.VOrtotticaOD = SetObjNullToStr(TmpVisita.VOrtotticaOD);

        Visita.VOrtotticaOS = SetObjNullToStr(TmpVisita.VOrtotticaOS);

        Visita.SHIRMER = SetObjNullToStr(TmpVisita.SHIRMER);

        Visita.TONO = SetObjNullToStr(TmpVisita.TONO);

        Visita.Lavaggio = SetObjNullToStr(TmpVisita.Lavaggio);

        Visita.Biometria = SetObjNullToStr(TmpVisita.Biometria);

        Visita.FAG_Od = SetObjNullToStr(TmpVisita.FAG_Od);

        Visita.FAG_Os = SetObjNullToStr(TmpVisita.FAG_Os);

        Visita.Topografia = SetObjNullToStr(TmpVisita.Topografia);

        Visita.IV = SetObjNullToStr(TmpVisita.IV);

        Visita.OCT_Od = SetObjNullToStr(TmpVisita.OCT_Od);

        Visita.OCT_Os = SetObjNullToStr(TmpVisita.OCT_Os);

        Visita.RNFL_Od = SetObjNullToStr(TmpVisita.RNFL_Od);

        Visita.RNFL_Os = SetObjNullToStr(TmpVisita.RNFL_Os);

        Visita.CV_Od = SetObjNullToStr(TmpVisita.CV_Od);

        Visita.CV_Os = SetObjNullToStr(TmpVisita.CV_Os);

        Visita.PACH_Od = SetObjNullToStr(TmpVisita.PACH_Od);

        Visita.PACH_Os = SetObjNullToStr(TmpVisita.PACH_Os);

        Visita.CD_Od = SetObjNullToStr(TmpVisita.CD_Od);

        Visita.CD_Os = SetObjNullToStr(TmpVisita.CD_Os);

        Visita.Auto = SetObjNullToStr(TmpVisita.Auto);

        Visita.MotivoVisita = SetObjNullToStr(TmpVisita.MotivoVisita);

        Visita.Conclusioni = SetObjNullToStr(TmpVisita.Conclusioni);

        Visita.Note = SetObjNullToStr(TmpVisita.Note);

        StateHasChanged();
    }

    public async void GoToVisit(int p)
    {
        await Task.Delay(10);

        switch (p)
        {
            case 0:
                VisitaCorrente = 0;

                FirstVisitDisabled = true;
                PrevVisitDisabled = true;

                NextVisitDisabled = false;
                LastVisitDisabled = false;
                break;

            case 1:
                if (VisitaCorrente > 0)
                {
                    VisitaCorrente -= 1;

                    NextVisitDisabled = false;
                    LastVisitDisabled = false;

                    if (VisitaCorrente == 0)
                    {
                        FirstVisitDisabled = true;
                        PrevVisitDisabled = true;
                    }
                }
                break;

            case 2:
                if (VisitaCorrente < ListaVisite.Count - 1)
                {
                    VisitaCorrente += 1;

                    FirstVisitDisabled = false;
                    PrevVisitDisabled = false;

                    if (VisitaCorrente == ListaVisite.Count - 1)
                    {
                        NextVisitDisabled = true;
                        LastVisitDisabled = true;
                    }
                }
                break;

            case 3:
                VisitaCorrente = ListaVisite.Count - 1;

                FirstVisitDisabled = false;
                PrevVisitDisabled = false;

                NextVisitDisabled = true;
                LastVisitDisabled = true;
                break;
        }

        DataVisita = ListaVisite[VisitaCorrente].Val.ToString("dd/MM/yyyy");

        LoadVisit(ListaVisite[VisitaCorrente].ID);

        AddVisitDisabled = false;

        LoadVisus();

        LoadOrtoctis();

        // load date e id storico controlli e dati ultimo controllo
        DataControllo = "";
        Controllo = new Controlli();
        CntrCorrente = -1;

        ListaCntr.Clear();

        ListaCntr = await ListControlliService.ListControlliByVisit(ListaVisite[VisitaCorrente].ID);

        if (ListaCntr.Count > 0)
        {
            if (ListaCntr.Count == 1)
            {
                FirstCntrDisabled = true;
                PrevCntrDisabled = true;
                NextCntrDisabled = true;
                LastCntrDisabled = true;
            }
            else
            {
                FirstCntrDisabled = true;
                PrevCntrDisabled = true;
                NextCntrDisabled = false;
                LastCntrDisabled = false;
            }

            CntrCorrente = 0;

            DataControllo = ListaCntr[CntrCorrente].Val.ToString();

            LoadControl(ListaCntr[CntrCorrente].ID);
        }

        AddCntrDisabled = false;
        SaveCntrDisabled = false;

        StateHasChanged();
    }

    public async void NewVisit()
    {
        await Task.Run(() =>
        {
            // parte visite
            IsNewVisit = true;

            Visita = new Visit();

            if (VisitaCorrente != -1)   // clona l'ultima visita
            {
                CloneVisit(ListaVisite[0].ID);
            }

            Visita.ptIdPatient = id;
            Visita.ptIdUser = Decimal.Parse(gIdUser);
            Visita.InsertDate = DateTime.Now;
            Visita.DataVisita = DateTime.Now;

            DataVisita = Visita.DataVisita.ToString("dd/MM/yyyy");

            AddVisitDisabled = true;
            SaveVisitDisabled = false;

            // parte visus
            NewVisus();
            Visus.DataMisura = Visita.DataVisita;

            // parte controlli
            Controllo = new Controlli();

            IsNewCntr = false;
            DataControllo = "";

            AddCntrDisabled = false;
            SaveCntrDisabled = true;

            // parte ortottica
            NewOrtoctis();
            Ortoctis.DataOrtottica = Visita.DataVisita;

            StateHasChanged();
        });
    }

    public async void SaveVisit()
    {
        if (IsNewVisit)
        {
            await VisitService.AddVisit(Visita);

            // visit entry completed
            IsNewVisit = false;
        }
        else
        {
            await VisitService.UpdVisit(Visita.IdVisit, Visita);
        }

        // load date e id storico visite e dati ultima visita
        ListaVisite.Clear();

        ListaVisite = await ListVisitsService.ListPatientsVisits(id);

        if (ListaVisite.Count > 0)
        {
            if (ListaVisite.Count == 1)
            {
                FirstVisitDisabled = true;
                PrevVisitDisabled = true;
                NextVisitDisabled = true;
                LastVisitDisabled = true;
            }
            else
            {
                FirstVisitDisabled = true;
                PrevVisitDisabled = true;
                NextVisitDisabled = false;
                LastVisitDisabled = false;
            }

            PrescrizioneDisabled = false;
            ControlliDisabled = false;
            OrtotticaDisabled = false;

            VisitaCorrente = 0;

            DataVisita = ListaVisite[0].Val.ToString("dd/MM/yyyy");

            LoadVisit(ListaVisite[VisitaCorrente].ID);
        }

        AddVisitDisabled = false;
        // SaveVisitDisabled = true;

        await Task.Run(() =>
        {
            DialogHeader = " Informazioni ";
            DialogIcon = "e-icons e-circle-info col-lg-2";
            DialogText = "Dati Visita salvati";
            DialogDetail = "";
            DialogVisible = true;
        });

        StateHasChanged();
    }
    #endregion

    #region Prescrizione Occhiali
    public async void LoadVisus()
    {
        VisusCorrente = -1;

        for (var iv = 0; iv < ListaVisus.Count; iv++)
        {
            if (ListaVisus[iv].Val.ToString("dd/MM/yyyy") == DataVisita)
            {
                VisusCorrente = iv;
            }
        }

        if (VisusCorrente > -1)
        {
            IsNewVisus = false;

            Visus = await VisusService.GetVisus(ListaVisus[VisusCorrente].ID);

            Visus.ODD_Sf = SetObjNullToStr(Visus.ODD_Sf);

            Visus.ODD_Cil = SetObjNullToStr(Visus.ODD_Cil);

            Visus.ODD_Asse = SetObjNullToStr(Visus.ODD_Asse);

            Visus.OSD_Sf = SetObjNullToStr(Visus.OSD_Sf);

            Visus.OSD_Cil = SetObjNullToStr(Visus.OSD_Cil);

            Visus.OSD_Asse = SetObjNullToStr(Visus.OSD_Asse);


            Visus.ODP_Sf = SetObjNullToStr(Visus.ODP_Sf);

            Visus.ODP_Cil = SetObjNullToStr(Visus.ODP_Cil);

            Visus.ODP_Asse = SetObjNullToStr(Visus.ODP_Asse);

            Visus.OSP_Sf = SetObjNullToStr(Visus.OSP_Sf);

            Visus.OSP_Cil = SetObjNullToStr(Visus.OSP_Cil);

            Visus.OSP_Asse = SetObjNullToStr(Visus.OSP_Asse);


            Visus.ODL_Sf = SetObjNullToStr(Visus.ODL_Sf);

            Visus.ODL_Cil = SetObjNullToStr(Visus.ODL_Cil);

            Visus.ODL_Asse = SetObjNullToStr(Visus.ODL_Asse);

            Visus.OSL_Sf = SetObjNullToStr(Visus.OSL_Sf);

            Visus.OSL_Cil = SetObjNullToStr(Visus.OSL_Cil);

            Visus.OSL_Asse = SetObjNullToStr(Visus.OSL_Asse);


            fTabo = Visus.Tabo;
            if (fTabo)
            {
                switchTabo = "TABO: Si";
            }

            fInter = Visus.Inter;
            if (fInter)
            {
                switchInter = "INTERNAZIONALE: Si";
            }

            Visus.DI = SetObjNullToStr(Visus.DI);

            Visus.Note = SetObjNullToStr(Visus.Note);
        }
        else
        {
            IsNewVisus = true;

            DataMisura = DataVisita;

            SaveVisusDisabled = false;

            Visus = new Misure();

            Visus.DataMisura = ListaVisite[VisitaCorrente].Val;
        }

        StateHasChanged();
    }

    public async void NewVisus()
    {
        await Task.Run(() =>
        {
            IsNewVisus = true;

            Visus = new Misure();

            Visus.ptIdUser = Decimal.Parse(gIdUser);
            Visus.ptIdPatient = id;
            Visus.InsertDate = DateTime.Now;
            Visus.DataMisura = DateTime.Now;

            DataMisura = DateTime.Now.ToString("dd/MM/yyyy");

            SaveVisusDisabled = false;

            StateHasChanged();
        });
    }

    public async void SaveVisus()
    {
        Visus.Tabo = fTabo;
        Visus.Inter = fInter;

        if (IsNewVisus)
        {
            Visus.ptIdUser = Decimal.Parse(gIdUser);
            Visus.ptIdPatient = id;
            Visus.InsertDate = DateTime.Now;

            await VisusService.AddVisus(Visus);

            // visit entry completed
            IsNewVisus = false;
        }
        else
        {
            await VisusService.UpdVisus(Visus.IdMisura, Visus);
        }

        // load date e id storico visite e dati ultima visita
        ListaVisus.Clear();

        ListaVisus = await ListVisusService.ListPatientsVisus(id);

        if (ListaVisus.Count > 0)
        {
            VisusCorrente = 0;

            DataMisura = ListaVisus[VisusCorrente].Val.ToString();

            LoadVisus();
        }

        await Task.Run(() =>
        {
            DialogHeader = " Informazioni ";
            DialogIcon = "e-icons e-circle-info col-lg-2";
            DialogText = "Dati Prescrizione occhiali salvati";
            DialogDetail = "";
            DialogVisible = true;
        });

        StateHasChanged();
    }
    #endregion

    #region Controlli
    public async void LoadControl(decimal idc)
    {
        Controllo = await ControlliService.GetControllo(idc);

        Controllo.Valutazione = SetObjNullToStr(Controllo.Valutazione);

        StateHasChanged();
    }

    public async void GoToControl(int p)
    {
        await Task.Delay(10);

        switch (p)
        {
            case 0:                         // primo controllo
                CntrCorrente = 0;

                FirstCntrDisabled = true;
                PrevCntrDisabled = true;

                NextCntrDisabled = false;
                LastCntrDisabled = false;
                break;

            case 1:                         // controllo precedente
                if (CntrCorrente > 0)
                {
                    CntrCorrente -= 1;

                    NextCntrDisabled = false;
                    LastCntrDisabled = false;

                    if (CntrCorrente == 0)
                    {
                        FirstCntrDisabled = true;
                        PrevCntrDisabled = true;
                    }
                }
                break;

            case 2:                         // controllo successivo
                if (CntrCorrente < ListaCntr.Count - 1)
                {
                    CntrCorrente += 1;

                    FirstCntrDisabled = false;
                    PrevCntrDisabled = false;

                    if (CntrCorrente == ListaCntr.Count - 1)
                    {
                        NextCntrDisabled = true;
                        LastCntrDisabled = true;
                    }
                }
                break;

            case 3:                         // ultimo controllo
                CntrCorrente = ListaCntr.Count - 1;

                FirstCntrDisabled = false;
                PrevCntrDisabled = false;

                NextCntrDisabled = true;
                LastCntrDisabled = true;
                break;
        }

        DataControllo = ListaCntr[CntrCorrente].Val.ToString("dd/MM/yyyy");

        LoadControl(ListaCntr[CntrCorrente].ID);

        StateHasChanged();
    }

    public async void NewControl()
    {
        await Task.Run(() =>
        {
            // parte controlli
            IsNewCntr = true;

            Controllo = new Controlli();

            Controllo.ptIdUser = Decimal.Parse(gIdUser);
            Controllo.InsertDate = DateTime.Now;
            Controllo.ptIdVisit = ListaVisite[VisitaCorrente].ID;
            Controllo.DataControllo = DateTime.Now;

            DataControllo = Controllo.DataControllo.ToString("dd/MM/yyyy");

            AddCntrDisabled = true;
            SaveCntrDisabled = false;

            StateHasChanged();
        });
    }

    public async void SaveControl()
    {
        if (IsNewCntr)
        {
            await ControlliService.AddControllo(Controllo);

            // control entry completed
            IsNewCntr = false;
        }
        else
        {
            await ControlliService.UpdControllo(Controllo.IdControllo, Controllo);
        }

        // load date e id storico controlli e dati ultimo controllo
        ListaCntr.Clear();

        ListaCntr = await ListControlliService.ListControlliByVisit(Visita.IdVisit);

        if (ListaCntr.Count > 0)
        {
            if (ListaCntr.Count == 1)
            {
                FirstCntrDisabled = true;
                PrevCntrDisabled = true;
                NextCntrDisabled = true;
                LastCntrDisabled = true;
            }
            else
            {
                FirstCntrDisabled = true;
                PrevCntrDisabled = true;
                NextCntrDisabled = false;
                LastCntrDisabled = false;
            }

            CntrCorrente = 0;

            DataControllo = ListaCntr[0].Val.ToString("dd/MM/yyyy");

            LoadControl(ListaCntr[CntrCorrente].ID);
        }

        AddCntrDisabled = false;
        // SaveCntrDisabled = true;

        await Task.Run(() =>
        {
            DialogHeader = " Informazioni ";
            DialogIcon = "e-icons e-circle-info col-lg-2";
            DialogText = "Dati Controllo salvati";
            DialogDetail = "";
            DialogVisible = true;
        });

        StateHasChanged();
    }
    #endregion

    #region Visita Ortottica
    public async void LoadOrtoctis()
    {
        OrtoctisCorrente = -1;

        for (var iv = 0; iv < ListaOrtoctis.Count; iv++)
        {
            if (ListaOrtoctis[iv].Val.ToString("dd/MM/yyyy") == DataVisita)
            {
                OrtoctisCorrente = iv;
            }
        }

        if (OrtoctisCorrente > -1)
        {
            IsNewOrtoctis = false;

            Ortoctis = await OrtoctisService.GetOrtottica(ListaOrtoctis[OrtoctisCorrente].ID);

            Ortoctis.Posizione = SetObjNullToStr(Ortoctis.Posizione);

            Ortoctis.Motilita = SetObjNullToStr(Ortoctis.Motilita);

            Ortoctis.Convergenza = SetObjNullToStr(Ortoctis.Convergenza);

            Ortoctis.Cover = SetObjNullToStr(Ortoctis.Cover);

            Ortoctis.PrismaCover = SetObjNullToStr(Ortoctis.PrismaCover);

            Ortoctis.Ampiezza = SetObjNullToStr(Ortoctis.Ampiezza);

            Ortoctis.Vetro = SetObjNullToStr(Ortoctis.Vetro);

            Ortoctis.Lang = SetObjNullToStr(Ortoctis.Lang);

            Ortoctis.Titmus = SetObjNullToStr(Ortoctis.Titmus);

            Ortoctis.AltriTest = SetObjNullToStr(Ortoctis.AltriTest);


            Ortoctis.Conclusioni = SetObjNullToStr(Ortoctis.Conclusioni);

            Ortoctis.Diagnosi = SetObjNullToStr(Ortoctis.Diagnosi);

            Ortoctis.Terapia = SetObjNullToStr(Ortoctis.Terapia);
        }
        else
        {
            IsNewOrtoctis = true;

            DataOrtottica = DataVisita;

            SaveOrtoctisDisabled = false;

            Ortoctis = new Ortottica();

            Ortoctis.DataOrtottica = ListaVisite[VisitaCorrente].Val;
        }

        StateHasChanged();
    }

    public async void NewOrtoctis()
    {
        await Task.Run(() =>
        {
            IsNewOrtoctis = true;

            Ortoctis = new Ortottica();

            Ortoctis.ptIdUser = Decimal.Parse(gIdUser);
            Ortoctis.ptIdPatient = id;
            Ortoctis.InsertDate = DateTime.Now;
            Ortoctis.DataOrtottica = DateTime.Now;

            DataOrtottica = DateTime.Now.ToString("dd/MM/yyyy");

            SaveOrtoctisDisabled = false;

            StateHasChanged();
        });
    }

    public async void SaveOrtoctis()
    {
        if (IsNewOrtoctis)
        {
            Ortoctis.ptIdUser = Decimal.Parse(gIdUser);
            Ortoctis.ptIdPatient = id;
            Ortoctis.InsertDate = DateTime.Now;

            await OrtoctisService.AddOrtottica(Ortoctis);

            // visit entry completed
            IsNewOrtoctis = false;
        }
        else
        {
            await OrtoctisService.UpdOrtottica(Ortoctis.IdOrtottica, Ortoctis);
        }

        // load date e id storico visite e dati ultima visita
        ListaOrtoctis.Clear();

        ListaOrtoctis = await ListOrtoctisService.ListPatientsOrtottica(id);

        if (ListaOrtoctis.Count > 0)
        {
            OrtoctisCorrente = 0;

            DataOrtottica = ListaOrtoctis[OrtoctisCorrente].Val.ToString();

            LoadOrtoctis();
        }

        await Task.Run(() =>
        {
            DialogHeader = " Informazioni ";
            DialogIcon = "e-icons e-circle-info col-lg-2";
            DialogText = "Dati Visita ortottica salvati";
            DialogDetail = "";
            DialogVisible = true;
        });

        StateHasChanged();
   }
    #endregion
}
